body{
	background-color: $c-gris;
	padding-bottom: 2%;
	section{
		margin: 0% 4% 0% 5%;
		margin-top: -50px;
		h4{
			color: $c-h4;
			display: inline-block;
		}
		p{
			color: $c-p;
			font-size: 13px;
		}
		a{
			text-decoration: none;
			&:hover{
				text-decoration: none;
			}
		}
		i{
			color: $c-icons;
			font-size: 30px;
		}
		.perfil{
			width: 60px;
			height: 60px;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
		}
		.border{
			border: 1px solid $c-border;
		}
	}
}