.col-md-4{
	padding: 0% ;
	.cabecera{
		height: 70px;
		padding: 10px 5px; 
		border-right: 1px solid $c-border;
		border-bottom: 1px solid $c-border;
		background-color: $c-gris-cl;
		.iconos-menu{
			float: right;
		}
	}
}

.busqueda{
	background-color: $c-white;
	padding: 8px;
	#buscar{
		height: 40px;
		color: $c-icons;
		width: 90%;
		i{
			margin-left: -30px;
		}
	}	
}

.contactos{
	background-color: white;
	border: 1px solid $c-gris;
	height: 600px;
	overflow: scroll;
	.mensajes{
		border-top: 1px solid $c-gris;
		height: 100px;
		padding: 5px;
		&:hover{
			border: 2px solid $c-gris;
			background: #e9ebeb;
		}
		img{
			max-width: 100%;
			margin-right: 5%;
		}
		h6{
			float: right;
			color: $c-h4;
		}
	}
}

.col-md-8{
	padding: 0%;
	.info {
		background-color: $c-gris;
		padding: 12px;
	}
	.clip {
		float: right;
	}
	.puntos {
		float: right;
	}
	.Laboratoria-Peru{
		height: 70px;
		padding: 10px 5px;
		border-bottom: 1px solid $c-border;
		background-color: $c-gris-cl;
		i{
			margin-top: -40px;
			padding: 6px;
		}
	}
	.chat-panel {
		background-image: url(../image/chat-panel-bg.png);
		background-size: cover;
		padding: 1%;
		height: 600px;
		max-height: 600px;
		overflow: scroll;
		position: relative;
		.chat{
			padding: 5px 10px;
			border: 1px solid $c-border;
			background-color: $c-verde-c;
			border-radius: 10px;
			max-width: 55%;
			margin: 5px 0px 5px 43%;
			h5{
				margin-left: 85%;
			}
			p{
				font-size: 15px;
			}
		}
		.iconos{
			bottom: 0px;
			position: absolute;
			background-color: white;
			height: 200px;
			width: 400px;
			transition: all 0.5s ease-in; 
			&._hide{
				opacity: 0;
				transition: all 0.5s ease-in; 
			}
		}
	}
	.background-gray {
		background-color: $c-white;
		max-width: 55%;
		border: 1px solid $c-gris-cl;
		padding: 2px;
		h6{
			float: right;
			color: $c-gris;
		}
	}
	.respuestas{
		width: 100%;
		margin-left: 60%;
		.background-green {
			background-color: $c-verde-c;
			max-width: 40%;
			border: 1px solid $c-gris;
			padding: 4px;
			h6{
				float: right;
				color: $c-gris;
			}
			.time{
				margin-left: 10px;
				p{
					float: right;
				}
			}
		}	
	}
	.chat-voz {
		padding: 8px 5px 12px 5px;;
		border-top: 1px solid $c-border;
		background-color: $c-gris-cl;
		position: relative;
		i{
			margin: 0px 5px;
			padding: 5px;
			font-size: 35px;
		}
		#responder{
			width: 85%;
			height: 30px;
			color: $c-icons;
		}
	}
}